@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
}

html::view-transition-old(nav-item-Projects) {
	height: 100%;
}

html::view-transition-new(nav-item-Projects) {
	height: 100%;
}
